form#search-form.form-inline action=search_publics_path
  input name="value" type="text" autofocus="true"  placeholder="姓名或首字母，电话，房间号，组织" value=@value
  button type="submit" class="btn btn-primary"  搜索
