= form_tag search_publics_path, :id => "search-form", :class => "navbar-form navbar-left"
  .form-group
    = text_field_tag 'text', nil, placeholder: '搜索： 姓名/用户名/电话',class: "form-control"
  /= submit_tag "搜索", class: 'btn btn-default'

#result

javascript:
  $(function(){
    $("#search-form .form-control").keyup(function(){
      $.post("/publics/search", { text: $(this).val() }, function(data){
        $("#content").html(data);
      });
    });    
  })