form#search-form.form-inline action=search_publics_path
  .form-group
    input name="value" type="text" class="form-control input-lg" placeholder="组织 地址 岗位 姓名" value=@value

  button type="submit" class="btn btn-primary btn-lg" 搜索
