= link_to '<span class="glyphicon glyphicon-heart" data-toggle="tooltip" title="已关注"></span>'.html_safe, follow_path(@user_id), :method => :delete, :remote => true, :class => "follow"

javascript:
  $(".follow").click(function(){
    $(this).bind("ajax:complete", function(status, xhr){
      $(this).replaceWith(xhr.responseText);
    })
  })
  $("[data-toggle~=tooltip]").tooltip();