/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require twitter/bootstrap-responsive
 *= require font-awesome
 *= require font-awesome-ie7.min
 *= require_self

 */

/* public page styles */

.widget{
    background-color:#FEFEFE;
    border:1px solid #E1E3E6;
    border-top:2px solid #206F96;
    box-shadow:0 1px 2px #E1E3E6;
    margin-top:10px;
    background-image: -moz-linear-gradient(center top , #FEFEFE, #EDEDED);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 254, 254)), to(rgb(237, 237, 237)));
    background-image: -webkit-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));
    background-image: -moz-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));
    background-image: -o-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));
    background-image: -ms-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));
    background-image: linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));
    min-height:300px;
}
.widget h4{
    margin:0 10px;
    border-bottom:1px solid #eaeaea;
    height:40px;
    line-height:40px;
    font-size:16px;
    font-weight:normal;
}
.widget h4 a{
    font-size:16px;
    font-weight:normal;
}
.widget h4 .more a{
    color:#666;
    font-size:12px;
}
.widget .workarea{
    padding:10px;
}

/*-------------------------index------------------------------*/
#default{
    font-size: 14px !important;
}
#header{
    height: 70px;
    padding-top: 20px;
  }
#header .head-con{
  width: 960px;
  margin: 0 auto; 
}
#header .head-con .head-connect{
  margin-top: 20px;
  width: 235px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.ul-help{
  
}
.help-line{
  height: 2px;
  width: 50px;
  position: absolute;
  bottom: 5px;
  background-color: #F5AB24;
  left: -60px;  
}

.ul-help li a,.ul-help li span{
  padding: 5px;
  color: #666;
  display: block;  
}
.ul-help li a:hover{
  color: #fff;
  background-color: #fbbe4f;
}
.head-connect p{
  margin: 7px 0 0;
}

#navigation{
  background:-moz-linear-gradient(top, #1b85cf, #0570ad ); 
  background-image:-webkit-linear-gradient(top, #1b85cf, #0570ad);
  height:40px;
}
#navigation .navigation-con{      
  width:960px;
  margin:0 auto;
}
#navigation .navigation-con ul li a{
  color: #f9fbfc;
  padding: 10px 30px;
}

#navigation .navigation-con ul li a:hover{
  background:-moz-linear-gradient(top, #7fc445, #67ac2d ); 
  background-image:-webkit-linear-gradient(top, #7fc445, #67ac2d); 
}

.active-a{
  background:-moz-linear-gradient(top, #7fc445, #67ac2d ); 
  background-image:-webkit-linear-gradient(top, #7fc445, #67ac2d);    
}
#navigation .li-seprate{
  border-left: 1px solid #0467a3;
  border-right: 1px solid #4993c4;
  height: 40px;
}
#content{  
  background:url("bg-f.png");  
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;

}
#content #banner-show{ 
  background-color: #fff;
  margin-top: -15px;
}
#content #banner-show .banner-con{
  width: 960px;
  margin: 0 auto;
}
#web-info{
  /*background: url("bg-g.jpg");*/
  background-color: rgba(0, 0, 0, 0.03);
  padding:20px 0;
  margin: 0 0 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02) inset, 0 -1px 0 rgba(255, 255, 255, 0.25);
 
}
#web-info .web-con{
  width: 960px;
  margin: 0 auto;
  position: relative;
}
#web-info .info-connect{
  height:325px;  
  position: absolute;
  z-index: 100;
  right: 0;
  top: -35px;
  width: 300px;
}
#web-info .info-connect .connect-top{
  position: absolute;
  top: 0;
  z-index: 15;
  left: -71px;
  width: 423px;
}
#web-info .info-connect .connect-top img{
  
}
#web-info .info-connect .connect-con{
  background-color: #f8f8f8;  
  width: 280px;
  position: absolute;
  left: 0;
  z-index: 10;
  top: 5px;
  bottom: 0;
}
#web-info .info-connect .connect-con .connect-title{
  position: absolute;
  right: -6px;
  bottom: -8px;
}
#web-info .info-connect .connect-con .connect-detail{
  padding: 20px;
}
#web-info .info-connect .connect-con .connect-detail p{
  border-bottom: 1px dashed #ccc;
  padding: 5px 0;
}

#web-info .info-connect .connect-bottom{
  z-index: 5;
  left: -20px;
  bottom: -15px;
  position: absolute;
}
.ul-info{
  margin: 10px 5px;
}
.ul-info li{
  line-height: 24px;
}
.ul-info li a{
  color: #666;
}
#footer{
  padding:15px 0;
}
#footer .footer-con{
  width: 960px;
  margin: auto;
}
.content-box {
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 1px 1px 5px #eaeaea; 
  min-height: 370px;   
}

#web-ad{
  width: 960px;
  margin: 10px auto;
}

.info-box .info-title .info-more{
  height: 20px;
  width: 40px;
  display: block;
  background: url(more.png) no-repeat;
  float: right;
}
.info-box .info-title .info-more:hover{
  background: url(more.png) no-repeat 0 -20px;
}
/*---------------------login--------------------------------*/
#default #login{
    width:350px;
    margin: 50px auto;    
    padding: 10px 20px;
    background-color:#FEFEFE;
    border:1px solid #E1E3E6;    
    box-shadow:0 1px 2px #E1E3E6;    
    background-image: -moz-linear-gradient(center top , #FEFEFE, #EDEDED);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 254, 254)), to(rgb(237, 237, 237)));
    background-image: -webkit-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));
    background-image: -moz-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));
    background-image: -o-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));
    background-image: -ms-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));
    background-image: linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));   
}


#default #login label[for=user_account],#default #login label[for=user_password]{
    
}
#default #login .control-group{
  margin-bottom: 10px;
}

#default #login .controls img,.help-block img{
  margin: 0 5px;
  border: 1px solid #eaeaea;
}
#default #login .workarea{
    margin-top:0;
}
#default .workarea h4{
    height: 50px;
}
#default .workarea .span3{
  height:150px;
  padding:10px 20px;
  border-right:1px solid #f1f1f1;
}
#default .workarea .span3:first{
    border: 0;
}

/*---------------------register--------------------------------------------------*/
#register,#get-pwd,#download,#exprience{
  padding: 20px 40px;
}

#default #register .left-con{
  width: 500px;
  padding: 0 20px;
  border-right: 1px solid #eaeaea;
}
#default #register .right-con{
  padding: 15px 20px;
  width: 270px;
}

/*---------------------------------expience--------------------------------------*/
.exprience-con{
  padding: 10px 20px;
  line-height: 21px;
}
.exprience-fill{
  padding: 10px 20px;
}

/*--------------------------public--------------------------------------------*/
.btn-login{
  padding: 5px 15px;
  font-size: 14px;
}
.h1-title{
    margin:10px auto;
    border-bottom:1px solid #eaeaea;    
    font-size:16px;
    font-weight:normal;
    padding:5px 0;
}
.bg-gray{
  background-color: #f5f5f5;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}
.text-orange{
  color: #f5ab24 !important;
}
.text-green{
  color:#67AC2D !important;
}
.text-blue{
  color:#1B85CF !important;
}
.text-gray{
  color: #333;
}
.ul-inline{
   display:block;
   margin:0 !important;
}
.ul-inline li{
  float: left;
  list-style: none;
  display:block;  
}
.ul-inline li a{
  display:block;       
  text-decoration: none;
}
.label-justify label{       
    font-size: 14px;
    text-align: justify important;
    -moz-text-align-last: justify;/*ff*/
    text-justify:distribute-all-lines;/*ie6-8*/
    text-align-last:justify;/* ie9*/
    -webkit-text-align-last:justify;/*chrome 20+*/
    width: 60px !important;
}
.label-justify .controls{
  margin-left: 75px;
}