#sidebar{
  
}
#content{
  min-height:100%; 
  height:auto !important; 
  height:100%; 
  overflow:visible;
  margin-top: -38px;
}

#content-header{
  margin-top: 0;
}

.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9,.span10,.span11,.span12{
  float: left;
  margin-right: 10px;
}

/*------------top user navigation-----------*/
#user-nav ul {
  margin: 0;
  padding: 0;
  list-style: none; border-right: 1px solid #2e363f;border-left: 1px solid #000;
}
#user-nav ul li {
  float: left;
  list-style-type: none;
  margin: 0;
  position: relative;
  padding: 0; border-left: 1px solid #2e363f; border-right: 1px solid #000;
}
#user-nav ul li a {
  padding:9px 10px;
  display: block;
  font-size: 11px;
}
#user-nav ul li a:hover, #user-nav ul li.open a {
  color: #ffffff;  background:#000;
}
#user-nav ul li a i, #sidebar li a i {
  opacity: .5; 
  margin-top: 2px;
}
#user-nav ul li a:hover i, #user-nav ul li.open a i {
  opacity: 1;
}
#user-nav ul li a .label {
  vertical-align: middle;
  padding: 1px 4px 1px;
  margin: -2px 4px 0;
  display: inline-block;
}
#user-nav ul ul li a {
  text-align: left;
}
#user-nav ul ul li a:hover {
}
.navbar-inverse .brand,
.navbar-inverse .nav li a {
  color: #999999;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* line 404, ../../../../.rvm/gems/ruby-1.9.3-p448/gems/bootstrap-sass-2.3.1.3/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar-inverse .brand:hover, .navbar-inverse .brand:focus,
.navbar-inverse .nav li a:hover,
.navbar-inverse .nav li a:focus {
  color: white;
}
/*----------------------sidebar------------*/
#sidebar ul{
  list-style: none;
  margin: 0px 0 0;
  padding: 0;
  position: absolute;
  width: 220px;
  border-bottom: 1px solid #37414b
}

#sidebar ul li {
  border-top: 1px solid #37414b;
  border-bottom: 1px solid #1f262d;
  display: block;
  position: relative;
}

#sidebar ul li a {
  padding: 10px 0 10px 15px;
  display: block;
  color: #939da8;
}

#sidebar ul li.active {
    background-color: #27a9e3; 
    border-bottom: 1px solid #27a9e3;  
    border-top: 1px solid #27a9e3;
}
#sidebar ul li.active a{ 
  color:#fff; text-decoration:none;
  background: url("../img/menu-active.png") no-repeat scroll right center transparent !important;
  text-decoration:none;
}

#sidebar ul li a .label {
  background-color:#F66;
  margin: 0 20px 0 0;
  float: right;
  padding: 3px 5px 2px;
}
#sidebar ul li a:hover {
  background-color: #27a9e3; color:#fff;
}
#sidebar ul li ul {
  background-color: #1e242b;
  display: none;
  margin: 0;
  padding: 0;
}
#sidebar ul li.open ul {
  display: block;
}
#sidebar ul li ul li a{ color:#939da8}
#sidebar ul li ul li a:hover, #sidebar ul li ul li.active a {
  color: #fff;
  background-color: #28b779;
}

/*----------------loginbox-------------------------*/
#loginbox .main_input_box .add-on{
  
  display: none;
}
#loginbox h3{
  height: 48px;
  width: 350px;
  background: url("../img/logo-login.jpg") no-repeat;
}

#header h1{
  background: url("../img/logo.jpg") no-repeat;
}