*{
    margin:0;padding: 0;
}
#header{
    height: 90px;
    width: 100%;
    padding-top:15px;
}

#content {

}


#footer{
    background-color: #E0E0E0;
    border-top: 1px solid #BFBFBF;
    height: 86px;
    width: 100%;
}
#footer p {
    padding-top:10px;
    font-size: 12px;
    text-align:center;
}
#footer a{
    font-family: "宋体";
    font-size: 12px;
    padding-right: 11px;
    text-decoration: none;
}


/*---------------widget----------------------------------*/
.widget-box {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #CDCDCD;
    clear: both;
    margin-bottom: 10px;
    border-radius: 4px;
}
.widget-title {
    background-color: #efefef;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 );
    border-bottom: 1px solid #CDCDCD;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    height: 36px;
    line-height: 36px;
    padding-left: 15px;
}

.widget-title h4 {

    margin: 0;
    padding: 8px 0;
    font-size: 14px;
}

.widget-title h4 i{
    margin-right: 5px;
    color: #666;
}

.widget-title h4 span{
    color: #62A8D1;
}
