// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//网站布局样式
//

@import "default.css.scss";

/*-----------------page_header------------------------*/
#header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  z-index: 10;

  .head_brand{
  	float:left;
  	height:100%;
  	display: block;
    font-size: 18px;
  }

  .head_nav,.head_info{
    float: right;
    height: 100%;
    @extend .ul-inline;
    ul li a{
      padding: 0 10px;
    }
  } 

  .head_nav{
    float:left;
  }  
}


/*------------------nav----------------------------*/
#navigation{
  position: fixed;
  top: 41px;
  left: 0;
  overflow: auto;
  width: 200px;
  border-right: 1px solid #ccc;
  height: 100%;
  background-color:#fff;

  display: none;
}

/*------------------content---------------------------*/
#content{
  /*margin-left: 200px;*/

  margin-top: 50px;
  min-height: 100%;
}


/*-----------------------footer------------------------------*/
#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;

  .footCon{    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;    
    border-top: 1px solid #E4E4E4;
    color: #777;
    font-size: 13px;

    .footCopy{
      
    }

    .footServe{
      
    }
  }
}


/*-----------------ie6---------------*/

