*{
    margin:0;padding: 0;
}
#header{
    height: 90px;
    width: 100%;
}

#content {

}


#footer{
    background-color: #E0E0E0;
    border-top: 1px solid #BFBFBF;
    height: 86px;
    width: 100%;
}
#footer p {
    padding-top:10px;
    font-size: 12px;
    text-align:center;
}
#footer a{
    font-family: "宋体";
    font-size: 12px;
    margin-left: 11px;
    padding-right: 11px;
    text-decoration: none;
}