// Place all the styles related to the phonebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//*****************
//#body
//*****************


//*****************
//#header
//****************

//*****************
//#footer
//*****************

//*****************
//#content
//*****************
#content{margin-left:330px;border:1px solid #ccc;}
#working-area{}

//*****************
//menubar
//*****************
#menubar{
    border:1px solid #ccc;
	position:fixed;
	top:60px;
	width:300px;
	min-height:1000px;
}
.menu-block{padding:15px;margin:5px;}