// Place all the styles related to the phonebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//*****************
//#body
//*****************
body{background:url("bg-f.png");}

//*****************
//#header
//****************
#header .navbar-container,#footer{
	width:960px;
	margin:0 auto;
	}
//*****************
//#footer
//*****************

//*****************
//#content
//*****************
.dashboard #working-area{
	margin-left:210px;
	}
.default #working-area{
	width:960px;
	margin:10px auto;
	}

//*****************
//menubar
//*****************
#menubar{
    border:1px solid #ccc;
	position:fixed;
	top:60px;
	width:200px;
	min-height:500px;
	background-color:#FAFAFA;
}
#menubar .footer{position:absolute;bottom:0;left:10px;}
.menu-block{	
	margin:5px;	
	}
.menu-block p{
	text-align:center;
	margin:0;
	}
.menu-block a{
	display:block;
	padding:10px 15px;
	background:-moz-linear-gradient(center top , #F9F9F9 0%, #EFEFEF 100%) repeat scroll 0 0 transparent;
	color:#333;
	border-radius:5px;
	border:1px solid #E1E3E6;
	box-shadow:0 1px 2px #E1E3E6;
	}
.menu-block a:hover{
	text-decoration:none;
	color:#0088CC;
	border:1px solid #D2E1F1;
}
.adduser{
	display:block;
	margin:5px 10px;
	height:25px;
	line-height:25px;
}

//*****************
//inforbox
//*****************
.inforbox{
	background-color:#FEFEFE;
	border:1px solid #E1E3E6;
	box-shadow:0 1px 2px #E1E3E6;
	margin-top:10px;
	}
.inforbox h4{	
	margin:0 10px;
	border-bottom:1px solid #eaeaea;
	height:40px;
	line-height:40px;
	font-size:16px;
	font-weight:normal;
	}
.inforbox h4 a{
	font-size:16px;
	font-weight:normal;
}
.inforbox h4 .more a{
	color:#ccc;
	font-size:12px;
}
.inforbox .inforbox-area{
	padding:10px;
}
//****************************
//#login
//*****************************
#login label{
	width:50px;
	}
#login .controls{
	margin-left:60px;
}

//*************************
//default index
//**************************
.index-search,.index-safe,.index-easy,.index-contain{
	height:150px;	
	padding:10px 20px;
	}
.index-search,.index-easy{	
	border-right:1px solid #f1f1f1;
}
.index-search h4,.index-safe h4,.index-easy h4,.index-contain h4{
	border:0 none;
	margin-bottom:20px;
}