*{margin:0;}
body {
  font-family: sans-serif;
  height: 100%;
}

html{
  height: 100%;
}

.container {
  max-width: 960px;
}

.btn {
  margin: 0 5px;
}

/* ------------------------------------
  搜索表单
------------------------------------ */
#home {
 margin: 10% 0 80px;
//   .alert {
//     margin-top: -8%;
//     strong {
//       line-height: 30px;
//     }
//     p {
//       margin-left: 20px;
//       line-height: 15px;
//     }
//   }
}
#search-form {
  padding-bottom: 10px;
  text-align: center;

  .form-group {
    padding-right: 0px;

    input{
      width: 500px;
    }
  }
}

/* ------------------------------------
  登陆界面
------------------------------------ */
#login-box {
  max-width: 330px;
  padding: 15px;
  margin: 10% auto 0;
  .form-control {
    margin-bottom: 5px;
  }
}

/* ------------------------------------
  组织树
------------------------------------ */
.icon-folder-close{
  background: url("icon-folder-close.png") no-repeat;
}
.icon-folder-open{
  background: url("icon-folder-open.png") no-repeat;
}
.organ_tree {
  background-color: #f7f5fa;
  padding: 20px 20px 10px 0;
  border-radius: 5px;
  min-height: 400px;

  .header {
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
  }

  .li-last{
    border: 0 none;
    background: url("joinbottom.gif") no-repeat;
    background-position: -7px 1px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-left: 20px; 

    li{
      background: url("line-hr.gif") no-repeat;
      background-position: -6px 0;
      border-left: 1px dotted #808080;
    }  

    a {
      text-decoration: none;      
    }
    
    .item{
      span{
        margin-right: 5px;
        cursor: pointer;
        padding: 2px 10px;
      }
      .glyphicon-folder-close{
        color: blue;
      }
    }
    ul{       
      
      margin-left: 10px;
  
      li{
        padding-left: 15px;
      }

      .item{
        a{
          color: #716B7A;
        }
      }
    }    
  }
  
}

/* ------------------------------------
  Content stylesheet
------------------------------------ */
.panel {
  .panel-heading {
    strong {
      color: #263331;
      font-size: 16px;
      font-weight: 900;
      span {
        padding: 0 10px 0 0;
      }
      a {
        color: #3a87ad;
        text-decoration: none;
      }
    }
  }
  table {
    a:hover {
      text-decoration: none;
    }
  }
}


.card {
  .panel-heading {
    margin: 0;
    padding: 5px 10px;
  }
  .panel-body {
    .media, .media-body {
      overflow: inherit;
    }
    .media {
      .avatar {
        width: 64px;
        height: 64px;
      }
      p {
        margin: 2px 0;
        padding: 0;
      }
    }
  }
}

.card .panel:first-child:hover {
  border: 1px solid #3276b1;
}

#attrs {
  .attr-heading {
    background-color: #d9ede9;
    border-radius: 5px;
  }
}

/*-------------------------------
首页
-------------------------------*/
#content{  
  padding-bottom: 40px;
  padding-top: 70px;
  position: relative;
  min-height: 100%;
}

.content-info{
  width: 550px;
  margin: 5px auto;

  strong{
    float: left;
    display: block;
    padding: 5px 10px;
  }

  ul{
    margin-left: 35px;

    li{

      span{
        margin-right: 5px;
      }
      a{
        padding: 5px 10px;

        &:hover{
          background-color: #f2f2f2;
        }
      }
    }
  }
  
}


/*------------------ul-inline---------------------------------------*/
.ul-inline{
  display:block;

  li{
    float: left;
    list-style: none;
    display:block;

    a{
      display:block;
      padding: 10px 15px;   
      text-decoration: none;
    }
  }
}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;

  .footCon{    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;    
    border-top: 1px solid #E4E4E4;
    color: #777;
    font-size: 13px;

    .footCopy{
      
    }

    .footServe{
      
    }
  }
}

#message{
 position: absolute;
 z-index: 10;
 top: 70px;
 width: 100%; 
}
