body {
  font-family: sans-serif;
  padding-top: 60px;
  padding-bottom: 40px;
}

.btn {
  margin: 0 5px;
}

/* ------------------------------------
  搜索表单
------------------------------------ */
#search-form {
  padding-bottom: 10px;
  .form-group {
    padding-right: 0px;
  }
}

/* ------------------------------------
  Login box stylesheet
------------------------------------ */
#login-box {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  .form-control {
    margin-bottom: 5px;
  }
}

/* ------------------------------------
  Sidebar stylesheet
------------------------------------ */

#sidebar.affix {
  position: static;
}

#sidebar{
  a {
    color: #5D6872;
    text-decoration: none;
  }
  .nav {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top:    10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f7f5fa;
    border-radius: 5px;
  }
  .nav > li > a {
    padding: 5px 15px;
  }
  .header {
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
  }
  .organ_tree {
    margin-top: 5px;
    ul {
      list-style: none;
      padding: 0;
      margin-left: 25px;
      .item {
        padding-bottom: 5px;
        border-radius: 3px;
      }
      .item:hover {
        background-color: #EEEEEE;
      }
    }
  }
}

/* ------------------------------------
  Content stylesheet
------------------------------------ */
.panel {
  .panel-heading {
    strong {
      color: #3a87ad;
      font-size: 16px;
      font-weight: 900;
    }
  }
  table {
    a:hover {
      text-decoration: none;
    }
  }
}


.card {
  .panel-heading {
    margin: 0;
    padding: 5px 10px;
  }
  .panel-body {
    .media, .media-body {
      overflow: inherit;
    }
    .media {
      .avatar {
        width: 64px;
        height: 64px;
      }
      p {
        margin: 2px 0;
        padding: 0;
      }
    }
  }
}

.card .panel:first-child:hover {
  border: 1px solid #3276b1;
}

#attrs {
  .attr-heading {
    background-color: #d9ede9;
    border-radius: 5px;
  }
}
