body {
    padding-top: 60px;
    padding-bottom: 30px;
}

.zhiyi-nav {
    background-color: #563D7C;
    border-color: #463265;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.zhiyi-nav .navbar-brand {
    color: #FFFFFF;
}