#search-form{
  margin-bottom: 20px;
}

#search-form input{
  width: 90%;
}

#search-form button{
  padding: 4px 12px;
}

.widget-box{
  margin-top: 0;
}

table .btn{
  font-size: 12px;
  padding: 0 6px;
}