p 你好 #{ @resource.email }!

p 你已经请求修改密码，你可以通过以下链接：

p= link_to '修改密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

p 如果你没有请求修改密码，请忽略此邮件。
p 你的密码不会改变直到你访问上面的链接并创建一个新的。
